.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
}

.login-card {
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    width: 400px;
    text-align: center;
}

.login-header {
    margin-bottom: 30px;
}

.icon-circle {
    width: 80px;
    height: 80px;
    background-color: #220440;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.shield-icon {
    color: white;
    font-size: 40px;
}

.login-header h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.login-header p {
    color: #666;
    font-size: 14px;
}

.login-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon {
    position: absolute;
    left: 15px;
    color: #a0a0a0;
    z-index: 1;
}

.input-with-icon input {
    width: 100%;
    padding: 12px 15px 12px 40px;
    /* Space for icon */
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    background-color: #fcfcfc;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.input-with-icon input::placeholder {
    color: #ccc;
}

.input-with-icon input:focus {
    border-color: #c084fc;
    /* Light purple border on focus */
}

.password-toggle {
    position: absolute;
    right: 15px;
    color: #a0a0a0;
    cursor: pointer;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #666;
    cursor: pointer;
}

.remember-me input {
    accent-color: #220440;
}

.forgot-password {
    color: #bd86fc;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #4a1d75;
    /* A bit lighter than deep purple for button */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #220440;
}